:root {
  --main-bg-color: #E8DED9;
  --secondary-bg-color: #F093ED;
  --main-fg-color: #212121;
  --secondary-fg-color: #005230;
  --tertiary-fg-color: #870D38;
}

.skip_link {
  background: var(--tertiary-fg-color);
  color: var(--main-bg-color);
  left: 50%;
  padding: 1rem;
  position: absolute;
  transform: translateY(-200%);
  transition: transform 0.3s;
  border-radius: 5px;
}

.skip_link:focus {
  transform: translateY(0%);
}

html {
  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
  font-size: 12px;
}

html * {
  line-height: 14px;
  letter-spacing: -0.25px;
}

html h1 {
  font-size: 2rem;
}

html h3 {
  font-size: 1.5rem;
}

html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  color: var(--secondary-fg-color);
  font-weight: 900;
  line-height: 2rem;
}

html a {
  text-decoration: none;
  color: var(--tertiary-fg-color);
}

html .featured_project_description, html .bluesky_post_message {
  color: var(--main-fg-color);
}

html a:hover {
  cursor: pointer
}

html img {
  border-radius: 8px;
}

body, header, header nav, body main, .latest_posts, .featured_projects, .featured_project_link {
  display: flex;
  flex-direction: column;
}

header {
  padding: 2rem 0px;
  min-width: 250px;
}

header, header nav {
  align-items: center;
  flex: 1;
  text-align: center;
}

main {
  flex-grow: 3; 
  flex-shrink: 1; 
  flex-basis: auto;
  padding: 2rem 1rem;
  gap: 2.5rem;
}

header img {
  height: 5rem;
  width: 8.8rem;
}

strong {
  font-weight: 900;
}

code {
  text-wrap: wrap;
}

header, header nav {
  gap: 1.5rem;
}

@media (min-aspect-ratio: 1/1) {
  body {
    display: flex;
    flex-direction: row;
  }

  main {
    max-width: 75%;
  }
}

body, .featured_project_link {
  gap: 0.25rem;
}

.latest_posts, .featured_projects {
  gap: 1rem;
}

.post_link, .social_links {
  gap: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 5rem;
}

article blockquote, article pre {
  color: var(--main-bg-color);
  background-color: var(--main-fg-color);
  padding: 1rem;
  max-width: 100%;
}

article blockquote a {
  color: var(--secondary-bg-color);
}

article h2 {
  padding-top: 2rem;
  font-size: 1.25rem;
}

ol {
  list-style: decimal-leading-zero;
  list-style-position: inside;
}

ul {
  list-style: square;
  list-style-position: inside;
}

article ol, article ul {
  position: relative;
  top: -0.75rem;
}

article ol > li + li, article ul > li + li {
  padding-top: 0.5rem;
}

article li {
  padding-left: 1rem;
  line-height: 1.5rem;
}

.bluesky_posts, .bluesky_post, .bluesky_post_header > div, .bluesky_post_embeds, .bluesky_post_content {
  display: flex;
  flex-direction: column;
}

.bluesky_post_header > div {
  justify-content: center;
  gap: 0.5rem;
}

.bluesky_post_header, .bluesky_post_body {
  display: flex;
  flex-direction: row;
}

.bluesky_post_body > div:first-child {
  flex: 2
}

.bluesky_posts, .bluesky_post_content, .bluesky_post_header, .bluesky_post_body {
  gap: 1rem;
}

.bluesky_post {
  max-width: 500px;
  align-items: stretch;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--secondary-fg-color);
  border-radius: 5px;
}

.bluesky_post_link {
  max-width: 500px;
}

.bluesky_post_embeds {
  align-items: center;
}

.bluesky_post_embeds img, .bluesky_post_header img {
  border: 1px solid var(--tertiary-fg-color);
}