/* background */
:root {
  --main-bg-color: #FFFFFF;
  --secondary-bg-color: #f5f3ee;
  --tertiary-bg-color: #f3f6ff;
  --main-fg-color: #222222;
  --secondary-fg-color: #002293;
  --tertiary-fg-color: #870D38;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --main-fg-color: #E8DED9;
    --secondary-fg-color: #F093ED;
    --tertiary-fg-color: #78f2c7;
    --main-bg-color: #212121;
    --secondary-bg-color: #005230;
  }
}
*/

html {
  background-color: var(--secondary-bg-color);
  color: var(--main-fg-color);
  font-size: 14px;
  height: 100%;
}

body {
  height: 100%;
}

/* general tags */
h1 { 
  font-size: 2.5rem; 
  padding-top: .75rem; 
  line-height: 2.5rem;
  padding-bottom: .5rem; 
}
h2 { 
  font-size: 1.25rem; 
  line-height: 1.25rem;
}
h3 { 
  font-size: 1.5rem; 
  padding-bottom: .5rem;
  line-height: 1.5rem;
}
h4 { 
  font-size: 1.75rem; 
  line-height: 1.75rem;
}

a {
  color: var(--secondary-fg-color);
  cursor: pointer;
  text-decoration: none;
}

strong {
  font-weight: 900;
}

/* custom tags */
.skip_link {
  left: 50%;
  padding: 1rem;
  position: absolute;
  transform: translateY(-200%);
  transition: transform 0.3s;
  border-radius: 5px;
}

.skip_link:focus {
  transform: translateY(0%);
}

.hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but we need to support legacy browsers */
  clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap; 
}

.crop_circle {
  overflow: hidden;
  aspect-ratio: 1/1;
  border-radius: 80%;
}

.logo_wrapper {
  width: 10rem;
}

.social-link {
  
}

/* header */
header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 3rem 0px 0px;
}

header > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  gap: 0.35rem;
}

header > section > nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
}

/* main content */
#main_content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 6rem 0px 0px;
}

#main_content > main {
  padding: 1rem;
  background-color: var(--main-bg-color);  
  border-radius: 0rem 1rem 0rem 0rem;
}

/* homepage */

/* posts */

/* main section */

main > section, main > article {
  width: 90%;
  padding-bottom: 2rem;
  line-height: 1.5rem;
}

article pre {
  max-width: 350px;
}

@media screen and (max-width: 250px) {
  main > section, main > article {
    width: 95%;
  }
}

@media screen and (min-width: 500px) {
  main > section, main > article {
    width: 450px;
  }

  article pre {
    max-width: 100%
  } 
}

.card {
  display: flex;
/*  flex-direction: row; */
  gap: 1rem;
  /* justify-content: space-around; */
  align-items: flex-start;
  padding: 1rem;
  border-radius: 0px 5px 0px 0px;
  margin-bottom: 0.25rem;
  background-color: var(--tertiary-bg-color);
}

.card_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.card_embed_img {
  border-radius: 2px
}

.card_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 50px; */
}

.card_header .avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
}

/* article */
article p, article ul, article ol {
  line-height: 1.35rem;
  padding-bottom: .5rem;
}

article ol {
  list-style-type: decimal;
  list-style-position: inside;
}

article ul {
  list-style-type: circle;
  list-style-position: inside;
}

article li {
  padding-bottom: .5rem;
}

article h1, article h2 {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

article em {
  color: var(--secondary-fg-color);
}

article blockquote {
  color: var(--secondary-fg-color);
}

article pre {
  background-color: var(--secondary-bg-color);
  padding: 1rem;
  overflow: scroll;
  overflow-wrap: break-word;
  margin-bottom: 1rem;
  white-space: pre-wrap; /* Allows wrapping of preformatted text */
  word-wrap: break-word; /* Breaks words if they are too long to fit on a line */
}

article pre code {
  font-family: monospace;
  letter-spacing: 0.1rem;
  font-size: 0.75rem;
}

/* synthesizer */
#synthesizer {
  display: flex;
  justify-content: center;
}

#synthesizer > canvas {
  width: 250px;
  height: 125px;
  border-radius: 10px;
  background-color: #CCE5FF;
}
