:root {
  --main-bg-color: #E8DED9;
  --secondary-bg-color: #F093ED;
  --main-fg-color: #161616;
  --secondary-fg-color: #005230;
  --tertiary-fg-color: #870D38;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-fg-color: #E8DED9;
    --secondary-fg-color: #F093ED;
    --tertiary-fg-color: #78f2c7;
    --main-bg-color: #212121;
    --secondary-bg-color: #005230;
  }
}

a {
  color: var(--tertiary-fg-color);
  background-color: var(--main-bg-color);
  cursor: pointer;
  text-decoration: none;
}

strong {
  font-weight: 900;
}

.skip_link {
  left: 50%;
  padding: 1rem;
  position: absolute;
  transform: translateY(-200%);
  transition: transform 0.3s;
  border-radius: 5px;
}

.skip_link:focus {
  transform: translateY(0%);
}

.hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but we need to support legacy browsers */
  clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap; 
}

html {
  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
  font-size: 14px;
}

/* header section */
header, nav {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

header > nav > section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  line-height: 1.5rem;
}

header img {
  width: 14rem;
  height: 8rem;
  border-radius: 5px;
}

header .social-link {
  line-height: 2.25rem;
}

/* headers */
h1 { 
  font-size: 2.5rem; 
  padding-top: .75rem; 
  line-height: 2.5rem;
  padding-bottom: .5rem; 
}
h2 { 
  font-size: 1.25rem; 
  line-height: 1.25rem;
}
h3 { 
  font-size: 1.5rem; 
  padding-bottom: .5rem;
  line-height: 1.5rem;
}
h4 { 
  font-size: 1.75rem; 
  line-height: 1.75rem;
}

/* main section */
main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

main > section {
  width: 90%;
  padding-bottom: 2rem;
  line-height: 1.5rem;
}

@media screen and (max-width: 250px) {
  main > section {
    width: 95%;
  }
}

@media screen and (min-width: 500px) {
  main > section {
    width: 400px;
  }
}

.card {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: -1px -6px 5px -5px rgba(0,0,0,0.71);
  -webkit-box-shadow: -1px -6px 5px -5px rgba(0,0,0,0.71);
  -moz-box-shadow: -1px -6px 5px -5px rgba(0,0,0,0.71);
  border: solid 1px var(--secondary-fg-color);
  margin-bottom: 1rem;
}

.card .avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 20px;
}

/* article */
main > article {
  width: 90%;
  padding-bottom: 2rem;
}

@media screen and (max-width: 250px) {
  main > article {
    width: 95%;
  }
}

@media screen and (min-width: 500px) {
  main > article {
    width: 400px;
  }
}

article p, article ul, article ol {
  line-height: 1.25rem;
  padding-bottom: .5rem;
}

article ol {
  list-style-type: upper-roman;
  list-style-position: inside;
}

article ul {
  list-style-type: circle;
  list-style-position: inside;
}

article li {
  padding-bottom: .5rem;
}

article h1, article h2 {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

article em {
  color: var(--secondary-fg-color);
}

article blockquote {
  color: var(--secondary-fg-color);
}

article pre {
  background-color: var(--secondary-bg-color);
  padding: 1rem;
  overflow: scroll;
  margin-bottom: 1rem;
}

article pre code {
  font-family: monospace;
  letter-spacing: 0.1rem;
  font-size: 0.75rem;
}